.custom_bg {
  background-image: linear-gradient(
    to left bottom,
    #0a6081,
    #006a9c,
    #0073b7,
    #007bd2,
    #1281eb
  );
}

.scrollbar-hide ::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
